

/* Ajustes Generales */
*{
    font-family: "Nunito", sans-serif;
    font-size: 20px;
}
body{
    background-color: white;
}

/* Header */
.custom-header{
    background-color: #34495E;
}

.brand{
    height: 70px;
    border-radius: 3rem;
}

.active {
    color: #F1C40F!important;
}

.nav-link:hover {
    color: #F1C40F!important;
    text-decoration-color: #F1C40F!important;
}

/* --- Footer ---- */
.custom-footer {
    background-color: #24262B;
}

.title-footer {
    color: white;
    border-bottom: 2px solid #00C3FF;
    margin-bottom: 1rem;
}
