{% extends 'common/index.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{ comic.imagen.url }}" alt="{{ comic.nombre }}" class="img-fluid">
            </div>
            <div class="col">
                <h1 id="namePage">Titulo: {{ comic.nombre }}</h1>
                <p id="descriptionPage">Descripción: {{ comic.descripcion }}</p>
                <p id="precioPage">El Precio Del Comics es: {{ comic.precio }}</p>
                <p id="precioPage">La Editorial Del Libro es: {{ comic.editorial }}</p>
                <p id="precioPage">La Categoria Del Libro es: {{ comic.tipo }}</p>
                <p>Cantidad: {{ comic.stock}}</p>

                <a href="{% url 'comics' %}" style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border: none; border-radius: 5px;">Volver Atrás</a>
            </div>
        </div>
    </div>

{% endblock %}