{% extends 'common/index.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/estilo-login.css' %}">
{% endblock %}

{% block content %}
<div class="formulario">
    <form method="POST">
        {% csrf_token %}

        <h1>Registro de Usuario</h1>
        
        <div class="input-container username">
            <input type="text" id="username" name="username" required>
            <label for="username">Nombre de Usuario:</label>
            <span></span>
        </div>
        <div class="input-container firstname">
            <input type="text" id="firstname" name="firstname" required>
            <label for="firstname">Nombre:</label>
            <span></span>
        </div>
        <div class="input-container lastname">
            <input type="text" id="lastname" name="lastname" required>
            <label for="lastname">Apellido:</label>
            <span></span>
        </div>
        <div class="input-container email">
            <input type="email" id="email" name="email" required>
            <label for="email">Correo Electrónico:</label>
            <span></span>
        </div>
        <div class="input-container password1">
            <input type="password" id="password1" name="password1" required>
            <label for="password1">Contraseña:</label>
            <span></span>
        </div>
        <div class="input-container password2">
            <input type="password" id="password2" name="password2" required>
            <label for="password2">Confirmar Contraseña:</label>
            <span></span>
        </div>
        <button class="btn btn-primary" type="submit">Registrarse</button>
    </form>
    {{error}}
</div>
{% endblock %}
