{% extends 'common/index.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/estilo-login.css' %}">
{% endblock %}

{% block content %}
<main class="form-signin w-100 m-auto text-center">
    <form method="POST" id="registration-form">
      {% csrf_token %}
      
      <h1 class="h3 mb-3 mt-3 fw-normal">Please sign in</h1>
  
      <div class="form-floating mt-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Junaito" name="username" autofocus autocapitalize="none" autocomplete="username" required/>
        <label for="floatingInput">Nombre de Usuario</label>
      </div>

      <div class="form-floating mt-1">
        <input type="text" class="form-control" id="floatingInput" placeholder="Juan" name="firstname" autofocus autocapitalize="none" required/>
        <label for="floatingInput">Nombre</label>
      </div>

      <div class="form-floating mt-1">
        <input type="text" class="form-control" id="floatingInput" placeholder="Contreras" name="lastname" autofocus autocapitalize="none" required/>
        <label for="floatingInput">Apellido</label>
      </div>

      <div class="form-floating mt-1">
        <input type="email" class="form-control" id="floatingInput" placeholder="ejemplo@ejemplo.com" name="email" autofocus autocapitalize="none" autocomplete="email" required/>
        <label for="floatingInput">Email</label>
      </div>

      <div class="form-floating mt-1 mb-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña" name="password1" autocomplete="current-password" required autocapitalize="none"/>
        <label for="floatingPassword">Password</label>
      </div>

      <div class="form-floating mt-1 mb-3">
        <input type="password" class="form-control" id="floatingPasswordConfirm" placeholder="Confirmar contraseña" name="password2" autocomplete="current-password" required autocapitalize="none"/>
        <label for="floatingPasswordConfirm">Confirmar contraseña</label>
      </div>

      <!-- Modal de Error para Contraseñas Incorrectas -->
      <div class="modal" id="error-password-modal" tabindex="-1" aria-labelledby="error-password-modal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Error</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Las contraseñas ingresadas no coinciden. Por favor, inténtalo de nuevo.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
        
      <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">Sign in</button>

    </form>
</main>

{% endblock %}
