{% if 'auth' in request.path %}

{% else %}

{% comment %}
<div class="container">
    <footer class="py-5">
      <div class="row">
        <div class="col-6 col-md-2 mb-3">
          <h5>Compañia</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Nosotros</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Nuestros Servicios</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Politica de Privacidad</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Afiliate</a></li>
          </ul>
        </div>
  
        <div class="col-6 col-md-2 mb-3">
          <h5>Ayuda</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Preguntas</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Compras</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Envios</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Estatus de la Orden</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pago</a></li>
          </ul>
        </div>
  
        <div class="col-6 col-md-2 mb-3">
          <h5>Tienda</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Comics</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Comics Originales</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Comics Anime</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Comics Destacados</a></li>
          </ul>
        </div>

        <div class="col-6 col-md-2 mb-3">
            <h5>Siguenos</h5>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><i class="bi bi-facebook"></i></li>
                <li class="ms-3"><i class="bi bi-instagram"></i></li>
                <li class="ms-3"><i class="bi bi-twitter"></i></li>
                <li class="ms-3"><i class="bi bi-linkedin"></i></li>
            </ul>
        </div>
      </div>
  
      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
        <p>&copy; 2022 Company, Inc. All rights reserved.</p>
      </div>
    </footer>
  </div>

{% endcomment %}
  <footer class="footer">
    <div class="conteiner-footer">
        <div class="footer-row">
            <div class="footer-links">
                <h4>Compañia</h4>
                <ul>
                    <li><a href="./Login/SobreNosotros.html">Nosotros</a></li>
                    <li><a href="#">Nuestros Servicios</a></li>
                    <li><a href="#">Politica de privacidad</a></li>
                    <li><a href="#">Afiliate</a></li>
                </ul>
            </div>
            <div class="footer-links">
                <h4>Ayuda</h4>
                <ul>
                    <li><a href="#">Preguntas</a></li>
                    <li><a href="#">Compras</a></li>
                    <li><a href="#">Envios</a></li>
                    <li><a href="#">Estatus de la orden</a></li>
                    <li><a href="#">Pago</a></li>
                </ul>
            </div>
            <div class="footer-links">
                <h4>Tienda</h4>
                <ul>
                    <li><a href="#" id="comicsLink">Comics</a></li>
                    <li><a href="#" id="comicsLink">Comics Originales</a></li>
                    <li><a href="#" id="comicsLink">Comics Animes</a></li>
                    <li><a href="#" id="comicsLink">Comics Destacados</a></li>
                </ul>
            </div>
            <div class="footer-links">
                <h4>Siguenos</h4>
                <div class="social-link">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
  </footer>
{% endif %}