{% if 'auth' in request.path %}

{% else %}
{% load static %}
<header class="header">
  <div class="logo">
    <a href="./index.html"><img src="{% static 'assets/img/logo.jpg' %}" alt="Imagen-Logo"></a>
  </div>

  <ul class="nav-links">
    <li><a href="{% url 'home' %}"
        class="link-{% if request.path == '/' %}secondary{% else %}dark{% endif%}">Home</a></li>
    <li><a href="{% url 'comics' %}"
        class="link-{% if request.path == '/comics/' %}secondary{% else %}dark{% endif%}">Comics</a></li>
    <li><a href="{% url 'about-us' %}"
        class="link-{% if request.path == '/about-us/' %}secondary{% else %}dark{% endif%}">Sobre
        Nosotros</a></li>
  </ul>


  {% if user.is_authenticated %}
  <div class="col-md-3 text-end">
    <a role="button" class="btn btn-outline-primary me-2" href="{% url 'log-out' %}">Log Out</a>
  </div>
  {% else %}

  <div class="col-md-3 text-end">
    <a role="button" class="btn btn-outline-primary me-2" href="{% url 'auth' %}">Login</a>
    <a role="button" class="btn btn-primary" href="{% url 'sign-up' %}">Sign-up</a>
  </div>

  <h1> {{ request.path}}</h1>

  {% endif %}
</header>
{% endif %}