{% if 'auth' in request.path or 'crud' in request.path%}

{% else %}
{% load static %}

<header class="custom-header px-4">
  <nav class="container d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 custom-header">
    
    <a href="{% url 'home' %}" class="d-flex align-items-center col-md-3 mb-2 mb-md-0">
      <img src="{% static 'img/logo.jpg' %}" class="brand" alt="Imagen-Logo">
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="{% url 'home' %}" class="nav-link text-white px-2 {% if request.path == '/' %}active{% endif %}">Home</a></li>
      <li><a href="{% url 'comics' %}" class="nav-link text-white px-2 {% if request.path == '/comics/' %}active{% endif %}">Comics</a></li>
      <li><a href="{% url 'about-us' %}" class="nav-link text-white px-2 {% if request.path == '/about-us/' %}active{% endif %}">Sobre Nosotros</a></li>
    </ul>

    {% if user.is_authenticated %}
    <div class="col-md-3 text-end d-flex align-items-center justify-content-center">
      <a role="button" class="btn btn-outline-primary me-2" href="{% url 'log-out' %}">Log Out</a>
      <a role="button" class="btn btn-primary me-2" href="#" data-bs-toggle="modal" data-bs-target="#carritoModal"><i class="bi bi-cart"></i></a>
    </div>
    {% else %}
    <div class="col-md-3 text-end">
      <a role="button" class="btn btn-outline-primary me-2" href="{% url 'auth' %}">Login</a>
      <a role="button" class="btn btn-primary" href="{% url 'sign-up' %}">Sign-up</a>
    </div>
    {% endif %}
  </nav>
</header>

{% include 'common/detalles-carro.html' %}

{% endif %}
