<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'home' %}" class="nav-link px-2 link-dark {% if request.path == '/' %}active{% endif %}">Home</a></li>
        <li><a href="{% url 'comics' %}" class="nav-link px-2 link-dark {% if request.path == '/comics/' %}active{% endif %}">Comics</a></li>
        <li><a href="{% url 'about-us' %}" class="nav-link px-2 link-dark {% if request.path == '/about-us/' %}active{% endif %}">Sobre Nosotros</a></li>
      </ul>

      {% if user.is_authenticated %}
      <div class="col-md-3 text-end">
        <a role="button" class="btn btn-outline-primary me-2" href="{% url 'log-out' %}">Log Out</a>
      </div>
      {% else %}

      <div class="col-md-3 text-end">
        <a role="button" class="btn btn-outline-primary me-2" href="{% url 'auth' %}">Login</a>
        <a role="button" class="btn btn-primary" href="{% url 'sign-up' %}">Sign-up</a>
      </div>
      {% endif %}
    </header>
  </div>