.PaletaColores{
    color: #1ABC9C;/* Turquesa */
    color: #2ECC71;/* Esmeralda */
    color: #3498DB;/* Azul Rivera */
    color: #9B59B6;/* Amatista */
    color: #34495E;/* Asfalto Mojado */
    color: #16A085;/* Verde Marino */
    color: #27AE60;/* Nefritis */
    color: #2980B9;/* Agujero de Belice */
    color: #8E44AD;/* Glicina */
    color: #2C3E50;/* Azul Medianoche */
    color: #F1C40F;/* Girasol */
    color: #E67E22;/* Zanahoria */
    color: #E74C3C;/* Alizarina */
    color: #ECF0F1;/* Nubes */
    color: #95A5A6;/* Concreto */
    color: #F39C12;/* Naranja */
    color: #D35400;/* Calabaza */
    color: #C0392B;/* Granada */
    color: #BDC3C7;/* Plata */
}
