<!DOCTYPE html>
<html>
<head>
    <title>Lista de Editoriales</title>
</head>
<body>
    <h1>Lista de Editoriales</h1>
    <a href="{% url 'editoriales_add' %}">Agregar Editorial</a>

    <ul>
        {% for editorial in editoriales %}
        <li>
            {{ editorial.nombre }} - {{ editorial.descripcion }}
            <a href="{% url 'editoriales_find_edit' editorial.pk %}">Editar</a>
            <form method="post" action="{% url 'editoriales_del' editorial.pk %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit">Eliminar</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'crud_home' %}">Volver al Panel Principal</a>
</body>
</html>
